@page "/firesecurity/consign"

@using Soditech.IntelPrev.Web.Components.Widgets

<div class="editor-container">

    @if (!string.IsNullOrEmpty(SuccessMessage))
    {
        <div class="alert alert-success">
            @SuccessMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">
            @ErrorMessage
        </div>
    }
    <TextEditorComponent Value="@_value" ValueChanged="OnValueChanged" />
    <button @onclick="SaveContent" class="btn btn-primary btn-add" disabled="@IsSaving">
        @AddBtnLabel
    </button>
</div>

<style>
    .editor-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn-add {
        align-self: flex-end;
        background-color: #003f88;
    }

    .alert {
        margin-top: 10px;
    }
</style>
