<div class="d-flex justify-content-center">
    <div class="spinner-border custom-spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<style>
    .custom-spinner {
        border-color: #003f88 !important;
        border-right-color: transparent !important;
    }
</style>